In [1]:
import pandas as pd
import numpy as np

In [2]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12])
numeros

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64

In [3]:
numeros.index

RangeIndex(start=0, stop=12, step=1)

In [4]:
meses = ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro']

In [6]:
meses_sr = pd.Series(np.arange(1,13), index = meses)
meses_sr

Janeiro       1
Fevereiro     2
Março         3
Abril         4
Maio          5
Junho         6
Julho         7
Agosto        8
Setembro      9
Outubro      10
Novembro     11
Dezembro     12
dtype: int32

In [7]:
 meses_sr.index

Index(['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
       'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      dtype='object')

In [8]:
world_cup = {'Brasil':5,'Alemanha':4,'Itália':4,'Argentina':3,'Urugual':2,'Inglaterra':1,'França':1}

In [9]:
world_cup_sr = pd.Series(world_cup)
world_cup_sr

Brasil        5
Alemanha      4
Itália        4
Argentina     3
Urugual       2
Inglaterra    1
França        1
dtype: int64